Actin-Myosin_Classifier/Testing_Datasets/rotmac_aat1_All.csv filter=lfs diff=lfs merge=lfs -text
Actin-Myosin_Classifier/Testing_Datasets/pv_moon_aat1_All.csv filter=lfs diff=lfs merge=lfs -text
Myosin_Classifier/Training_Dataset/Myosin_Classifier_Training_Dataset_V2.csv filter=lfs diff=lfs merge=lfs -text
