docker {
    enabled = true
}

params {
    outdir = "results"
    sequences_per_file = 1000
    pf00063_hmm = null
    test_fasta = null
    hmm_evalue = 1e-5
    min_fragment_length = 500
    hard_negative_score_cutoff = 4
    n_runs = 100
    class_threshold = 80
    myosin_threshold = 80
}

process {
    executor = 'local'
    scratch = true

    container = 'victorres23/ml_actin-myosin:v1.0'

    withName: SPLIT_FASTA {
        cpus = 1
        memory = '2 GB'
    }

    withName: FASTA_TO_CSV {
        cpus = 1
        memory = '4 GB'
        maxForks = 64
    }

    withName: MERGE_CSVS {
        cpus = 2
        memory = '8 GB'
    }

    withName: TRAIN_AND_PREDICT_ACTIN_MYOSIN {
        cpus = 4
        memory = '16 GB'
        time = '12h'
    }

    withName: CROSS_VALIDATION {
        cpus = 4
        memory = '12 GB'
        time = '8h'
    }

    withName: MONTE_CARLO {
        cpus = 4
        memory = '16 GB'
        time = '24h'
    }

    withName: FILTER_CONFIRMED_PREDICTIONS {
        cpus = 1
        memory = '2 GB'
        time = '2h'
    }

    withName: RUN_HMMSEARCH_PF00063 {
        cpus = 2
        memory = '4 GB'
        time = '4h'
    }

    withName: BUILD_MYOSIN_FEEDBACK {
        cpus = 1
        memory = '4 GB'
        time = '2h'
    }

}